
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Cybage learning</h3>
        </div>

        <ul class="list-unstyled components">
        
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Course Management</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Category</a>
                    </li>
                    <li>
                        <a href="#">Course</a>
                    </li>
                    <li>
                        <a href="#">Video</a>
                    </li>
                </ul>
            </li>
           
            <li>
                <a href="#">User Logs</a>
            </li>
            <li>
                <a href="#">Reports</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
           
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to Home</a>
            </li>
        </ul>

        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Course Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"><i class="fas fa-camera me-1"></i>Add Profile Picture</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-question me-1"></i> Help</a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt me-1"></i>Sign Out</a></li>
            </ul>
          </li>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                
                </div>
           
    </div>