
<div class="container myFonts">

        <div class="col-lg-4"><input type="text" name="search"  (ngModelChange)="getCategory($event)"  [(ngModel)]="search"></div>
   
    <div class="row">
        <div class="col-lg-2"></div>
       
        <div class="col-lg-3">
            <div class="card myRow">
                <div class="row ">
                    <div class="card-body">
                        <h5 class="card-title ps-1">Categories
                        </h5>

                        <p class="card-text ">

                            <div class="box">

                                <div class="card mb-3" *ngFor="let c of categories">
                                    <a (click)="getCoursesByCat(c.categoryName)">
                                        <div class="row">
                                            <div class="col-4 px-3 py-3">
                                                <img src="{{c.categoryLogo}}" alt="Category Logo"
                                                            class="img-fluid">
                                             </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title ">{{c.categoryName | titlecase}}</h5>


                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>



                            </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="card mb-3 myRow">
                <div class="row">
                    <div class="card-body">
                        <h5 class="card-title ps-1">Courses <div class="float-end h6">
                                <a href="#" class="seeAll pe-1">See all</a>
                            </div>
                        </h5>
                        <p class="card-text">

                            <div class="box">
                                <div class="card mb-3" *ngFor="let co of coursesByCat">
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="{{co.courseLogo}}" alt="Course Logo">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{co.courseName | titlecase}}</h5>
                                                <p class="card-text">{{co.courseDesc}}
                                                </p>
                                                <p class="card-text">{{co.coursePrice | currency : "INR"}}
                                                </p>
                                                <p class="card-text"><small class="text-muted">{{co.category}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

