<div class="container-fluid">
    <div class="row userLogRow">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">

                <div class="card logsCard " style="max-width: 18rem;">
                        <div class="card-header">User logs</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title cardText">Please follow given path to find the user-logs</h5>
                          <p class="card-text cardText"><i class="far fa-file-alt pe-2"></i>D://logs/user-logs.txt</p>
                        </div>
                      </div>

               
        </div>
    </div>
</div>

